language: ruby
rvm:
    - 2.6

addons:
    apt:
        packages:
            - python3
            - python3.7
            - python3-pip
            - python3-setuptools
            - sshpass

install:
    # - sudo apt-get install python-pip python3-pip --yes
    # - python3 -m pip install pip --upgrade --force
    # - python -m pip install pip --upgrade --force
    - pip3 install -r requirements.txt
    - gem install bundle

script:
    - ./_scripts/build.sh
    - ./_scripts/deploy.sh
    - ./_scripts/check_new_posts.sh

branches:
    only: 
        - master