---
title: MaratonIME \o/
layout: post-index
fixednotice: true
description: Apoio à maratona de Programação no IME-USP.
tags:
- maratona
- programacao
- ime
- usp
- computacao
- acm
- icpc
comments: false
hubs:
- url: $/listas
  text: Listas de problemas
  img: $/images/wf-2017.jpg
- url: $/contato
  text: Fale conosco
  img: https://graph.facebook.com/1507046189376089/picture
- url: $/seletivas
  text: Seletivas
  img: https://graph.facebook.com/1507046532709388/picture
- url: https://www.ime.usp.br/~maratona/winter17/
  text: Winter Camps
  img: https://graph.facebook.com/1469276866486355/picture
- url: https://www.youtube.com/playlist?list=PL9sdTenuXlxmIsiKgJRYtUm_A0Cnh-vPB
  text: Aulas
  img: https://www.youtube.com/yt/about/media/images/brand-resources/icons/YouTube_icon_full-color.svg
- url: "$/historia"
  text: História
  img: https://graph.facebook.com/1052436444837068/picture
hubs_class: third
---
{% if paginator.previous_page %}
{% else %}
<section id="events">
	<figure>
		<figcaption>
			<i class="fa fa-check-square-o"></i>
			<h3>Treinos</h3>
			<p>Maratonistas de vários níveis para te ajudar a treinar.</p>
			<footer><p>Toda sexta-feira à partir de 09/03 das 14 às 19 no CEC (ao lado da Seção de Alunos).</p></footer>
		</figcaption>
	</figure>
	<figure>
		<figcaption>
			<i class="fa fa-university"></i>
			<h3>bixeCamp</h3>
			<p>Um curso preparado para ensinar os tópicos iniciais da Maratona.</p>
			<footer><p>Na primeira hora de quase todos os treinos do primeiro semestre.</p></footer>
		</figcaption>
	</figure>
	<figure>
		<figcaption>
			<i class="fa fa-comment"></i>
			<h3>Evento da SIGEX</h3>
			<p>Apresentações de membros do MaratonIME e palestra com <a href="https://twitter.com/guilhermecaelum">Guilherme Silveira</a>.</p>
			<footer><p>19 de Março na sala 02 do CEC, das 14:40 às 17:00.</p></footer>
		</figcaption>
	</figure>
	<figure>
		<figcaption>
			<i class="fa fa-trophy"></i>
			<h3>Palestra em MAC0110</h3>
			<p>Um pouco sobre a história do IME nas competições e o MaratonIME. Aberta para não matriculados.</p>
			<footer><p>10 de Abril na sala B05 do IME.</p></footer>
		</figcaption>
	</figure>
</section>
	{% include hubs.html %}
{% endif %}

{% for post in paginator.posts %}
<article class="hentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div><!-- /.entry-image -->
    {% endif %}
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{% include /time.html %}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="Sobre o {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% assign readtime = post.content | number_of_words | divided_by:site.words_per_minute %}
        Tempo de leitura ~{% if readtime <= 1 %}1 minuto{% else %}{{ readtime }} minutos{% endif %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {% if post.content contains "<!-- more -->" %}
    {{ post.content | split:"<!-- more -->" | first % }}
    {% else %}
      {{ post.content }}
    {% endif %}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.url }}" class="btn">Previous</a>
    {% else %}
      <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="btn">Previous</a>
    {% endif %}
  {% else %}
    Previous
  {% endif %}
  <ul class="inline-list">
    <li>
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="{{ site.url }}">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="{{ site.url }}/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if paginator.next_page %}
    <a href="{{ site.url }}/page{{ paginator.next_page }}" class="btn">Next</a>
  {% else %}
    Next
  {% endif %}
</div><!-- /.pagination -->
