---
title: MaratonIME \o/
layout: post-index
fixednotice: true
description: Apoio à maratona de Programação no IME-USP.
tags:
- maratona
- programacao
- ime
- usp
- computacao
- acm
- icpc
comments: false
---
{% if paginator.previous_page %}
{% else %}
<div id="hub">
	<div class="hub_row">
		<a target="_blank" href="http://tinyurl.com/bixecamplista"><article class="hub_listas"><div>Listas de Problemas</div></article></a>
		<a target="_blank" href="https://t.me/maratonabrasil"><article class="hub_telegram"><div>Canal do Telegram</div></article></a>
		<a target="_blank" href="{{ site.url }}/seletivas"><article class="hub_seletiva"><div>Seletivas</div></article></a>
	</div>
	<div class="hub_row">
		<a target="_blank" href="https://www.ime.usp.br/~maratona/winter17/"><article class="hub_winter"><div>Winter Camps</div></article></a>
		<a target="_blank" href="https://www.youtube.com/playlist?list=PL9sdTenuXlxmIsiKgJRYtUm_A0Cnh-vPB"><article class="hub_aulas"><div>Aulas</div></article></a>
		<a target="_blank" href="{{ site.url }}/depoimentos"><article class="hub_depoimentos"><div>Depoimentos</div></article></a>
	</div>
</div>
{% endif %}

{% for post in paginator.posts %}
<article class="hentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div><!-- /.entry-image -->
    {% endif %}
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{% include /time.html %}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="Sobre o {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% assign readtime = post.content | number_of_words | divided_by:site.words_per_minute %}
        Tempo de leitura ~{% if readtime <= 1 %}1 minuto{% else %}{{ readtime }} minutos{% endif %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {% if post.content contains "<!-- more -->" %}
    {{ post.content | split:"<!-- more -->" | first % }}
    {% else %}
      {{ post.content }}
    {% endif %}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.url }}" class="btn">Previous</a>
    {% else %}
      <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="btn">Previous</a>
    {% endif %}
  {% else %}
    Previous
  {% endif %}
  <ul class="inline-list">
    <li>
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="{{ site.url }}">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="{{ site.url }}/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if paginator.next_page %}
    <a href="{{ site.url }}/page{{ paginator.next_page }}" class="btn">Next</a>
  {% else %}
    Next
  {% endif %}
</div><!-- /.pagination -->
