---
title: MaratonUSP \o/
layout: post-index
fixednotice: true
description: Apoio à maratona de Programação na USP.
tags:
- maratona
- programacao
- ime
- usp
- computacao
- acm
- icpc
comments: false
hubs:
- url: $/listas
  text: Listas de problemas
  img: "$/images/wf-2017.jpg"
- url: $/contato
  text: Fale conosco
  img: https://graph.facebook.com/1507046189376089/picture
- url: $/seletivas
  text: Seletivas
  img: https://graph.facebook.com/1507046532709388/picture
- url: http://3.21.204.121:3000/dojo
  text: Online Judge
  img: "$/images/logo_OJ.png"
- url: https://www.youtube.com/channel/UCB_SQAulqgmQ0Vfww9wzfWA
  text: Aulas
  img: https://www.youtube.com/yt/about/media/images/brand-resources/icons/YouTube_icon_full-color.svg
- url: "$/historia"
  text: História
  img: https://graph.facebook.com/1052436444837068/picture
hubs_class: third
---
{% if paginator.previous_page %}
{% else %}
<section id="events">
    <!-- Pode encontrar icones em https://fontawesome.com/v4.7.0/icons/ -->
    <!-- Ninguém usou mais o Reddit da maratona. -->
    <!-- <figure>
        <figcaption class="text-content">
            <i class="fa fa-reddit"></i>
            <h3>Reddit</h3>
            <p>Use o subreddit <a href="https://www.reddit.com/r/maratona/">r/maratona</a> para discutir problemas ou tirar dúvidas.</p>
        </figcaption>
    </figure> -->
    <figure>
        <figcaption class="text-content">
            <i class="fa fa-pencil-square-o"></i>
            <h3>BixeCamp 2023</h3>
            <p>Aulas introdutórias sobre programação competitiva<br><a href="{{ site.baseurl }}/aula-bixecamp-2023"><b>Saiba mais</b></a></p>
            <footer><p>Quartas às 17h e sextas às 14h no CEC</p></footer>
        </figcaption>
    </figure>
</section>
	{% include hubs.html %}
{% endif %}

{% for post in paginator.posts %}
<article class="hentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index">
        <a href="{% include url %}{{ post.url }}" title="{{ post.title }}"><img src="{% include url %}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div><!-- /.entry-image -->
    {% endif %}
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{% include url %}{{ post.url }}">{% include /time.html %}</a></time></span><span class="author vcard"><span class="fn"><a href="{% include url %}/about/" title="Sobre o {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% assign readtime = post.content | number_of_words | divided_by:site.words_per_minute %}
        Tempo de leitura ~{% if readtime <= 1 %}1 minuto{% else %}{{ readtime }} minutos{% endif %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a href="{% include url %}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{% include url %}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {% if post.content contains "<!-- more -->" %}
    {{ post.content | split:"<!-- more -->" | first }}
    {% else %}
      {{ post.content }}
    {% endif %}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{% include url %}" class="btn">Previous</a>
    {% else %}
      <a href="{% include url %}/page{{ paginator.previous_page }}" class="btn">Previous</a>
    {% endif %}
  {% else %}
    Previous
  {% endif %}
  <ul class="inline-list">
    <li>
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="{% include url %}">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="{% include url %}/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if paginator.next_page %}
    <a href="{% include url %}/page{{ paginator.next_page }}" class="btn">Next</a>
  {% else %}
    Next
  {% endif %}
</div><!-- /.pagination -->

