<div class="same-category">
  {% assign cat_name = page.categories[0] %}
  <div class="read-more-content">
    <h3>Categoria: {{ cat_name }}</h3>
  </div>
  <div class="same-category-list">
    {% for post in site.categories[cat_name] %}
      <div class="list-item">
        <h4><a href="{% include url %}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
        <span>Published on {{ post.date | date: "%B %d, %Y" }}</span>
      </div><!-- /.list-item -->
    {% endfor %}
  </div>
</div>
