{% if page %} {% assign from = page %} {% endif %}
{% if post %} {% assign from = post %} {% endif %}
{% assign date_month = from.date | date: "%-m" %}
{{ from.date | date: "%-d" }} de
{% case date_month %}
    {% when '1' %}Janeiro
    {% when '2' %}Fevereiro
    {% when '3' %}Março
    {% when '4' %}Abril
    {% when '5' %}Maio
    {% when '6' %}Junho
    {% when '7' %}Julho
    {% when '8' %}Agosto
    {% when '9' %}Setembro
    {% when '10' %}Outubro
    {% when '11' %}Novembro
    {% when '12' %}Dezembro
{% endcase %}
de {{ from.date | date: "%Y" }}
