hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
}

// Figures and images
// --------------------------------------------------
figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  @include clearfix();
  img {
    margin-bottom: 10px;
  }
  a {
    img {
      @include translate(0, 0);
      -webkit-transition-duration: 0.25s;
      -moz-transition-duration: 0.25s;
      -o-transition-duration: 0.25s;
      &:hover {
        @include translate(0, -5px);
        @include box-shadow(0 0 10px fade($base-color, 20));
      }
    }
  }
  &.half {
    @media #{$large} {
      img {
        width: 310px;
        float: left;
        margin-right: 10px;
      }
      figcaption {
        clear: left;
      }
    }
  }
  &.third {
    @media #{$large} {
      img {
        width: 200px;
        float: left;
        margin-right: 10px;
      }
      figcaption {
        clear: left;
      }
    }
  }
}
svg:not(:root) {
  overflow: hidden;
}
figure.center{
  text-align: center;
}

figure.center img{
  float: none;
}
// Buttons
// --------------------------------------------------
.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  @include font-rem(14);
  background-color: $primary;
  color: $white;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: $primary;
  @include rounded(3px);
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $white;
    color: $primary;
  }
}
.btn-inverse {
  background-color: $white;
  color: $primary;
  border-color: $white;
  &:visited {
    color: $primary;
  }
  &:hover {
    background-color: $primary;
    color: $white;
  }
}
.btn-success {
  background-color: $success;
  color: $white;
  border-color: $success;
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $white;
    color: $success;
  }
}
.btn-warning {
  background-color: $warning;
  color: $white;
  border-color: $warning;
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $white;
    color: $warning;
  }
}
.btn-danger {
  background-color: $danger;
  color: $white;
  border-color: $danger;
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $white;
    color: $danger;
  }
}
.btn-info {
  background-color: $info;
  color: $white;
  border-color: $info;
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $white;
    color: $info;
  }
}

// Well
// --------------------------------------------------
.well {
  padding: 20px;
  border: 1px solid $comp-color;
  @include rounded(4px);
}

// Hub
// --------------------------------------------------
#hub {
	@include clearfix;
	margin-bottom: 15px;
	padding: 0;
	.hub_row {
		@include clearfix;
		margin-bottom: 4px;
		margin-top: 0;
		text-align: center;

		.hub_prob { background-image: url('../../images/wf-2017.jpg'); }
		.hub_listas { background-image: url('../../images/wf-2017.jpg'); }
		.hub_telegram { background-image: url('../../images/telegram-logo.jpg'); }
		.hub_seletiva { background-image: url('https://scontent-gru2-2.xx.fbcdn.net/v/t31.0-8/20901439_1507046532709388_6977990151762961000_o.jpg?oh=86e833fa07375db522e041a0c3f5e1c7&oe=5AD1B0AB'); }
		.hub_winter { background-image: url('https://scontent-gru2-2.xx.fbcdn.net/v/t1.0-9/19904893_1469276866486355_870367890862236705_n.jpg?oh=5e594d9c87ec9b06099c4eb4777859c9&oe=5ACAFB97'); }
		.hub_aulas { background-image: url('https://www.youtube.com/yt/about/media/images/brand-resources/icons/YouTube_icon_full-color.svg'); }
		.hub_depoimentos { background-image: url('https://scontent-gru2-2.xx.fbcdn.net/v/t1.0-9/13178974_1052436444837068_7849793169344886514_n.jpg?oh=a6d908919625aa11d50dfc7ec81e144b&oe=5A8AC708'); }

		article {
			color: black;
			padding: 0;
			width: 31%;
			margin: 0;
			margin-bottom: 10px;
			margin-left: 2%;
			float: left;
			background-position: center;
			@include background-size(150%);
			@include transition(background-size 1s ease-out);

			div {
				@include rounded(3px);
				padding-top: 40px;
				padding-left: 5px;
				padding-right: 5px;
				padding-bottom: 40px;
				display: block;
				width: 100%;
				height: 100%;
				@include background-alpha($white,0.9);
				@include transition(opacity 800ms ease-out);
			}
		}

		article:hover {
			@include background-size(100%);

			div {
				opacity: 0;
			}
		}
	}
}

