hr {
	display: block;
	margin: 1em 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

// Figures and images
// --------------------------------------------------
figure {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	@include clearfix();
	img {
		margin-bottom: 10px;
	}
	a {
		img {
			@include translate(0, 0);
			-webkit-transition-duration: 0.25s;
			-moz-transition-duration: 0.25s;
			-o-transition-duration: 0.25s;
			&:hover {
				@include translate(0, -5px);
				@include box-shadow(0 0 10px fade($base-color, 20));
			}
		}
	}
	&.half {
		@media #{$large} {
			img {
				width: 310px;
				float: left;
				margin-right: 10px;
			}
			figcaption {
				clear: left;
			}
		}
	}
	&.third {
		@media #{$large} {
			img {
				width: 200px;
				float: left;
				margin-right: 10px;
			}
			figcaption {
				clear: left;
			}
		}
	}
}
svg:not(:root) {
	overflow: hidden;
}
figure.center{
	text-align: center;
}

figure.center img{
	float: none;
}
// Buttons
// --------------------------------------------------
.btn {
	display: inline-block;
	margin-bottom: 20px;
	padding: 8px 20px;
	@include font-rem(14);
	background-color: $primary;
	color: $white;
	border-width: 2px !important;
	border-style: solid !important;
	border-color: $primary;
	@include rounded(3px);
	&:visited {
		color: $white;
	}
	&:hover {
		background-color: $white;
		color: $primary;
	}
}
.btn-inverse {
	background-color: $white;
	color: $primary;
	border-color: $white;
	&:visited {
		color: $primary;
	}
	&:hover {
		background-color: $primary;
		color: $white;
	}
}
.btn-success {
	background-color: $success;
	color: $white;
	border-color: $success;
	&:visited {
		color: $white;
	}
	&:hover {
		background-color: $white;
		color: $success;
	}
}
.btn-warning {
	background-color: $warning;
	color: $white;
	border-color: $warning;
	&:visited {
		color: $white;
	}
	&:hover {
		background-color: $white;
		color: $warning;
	}
}
.btn-danger {
	background-color: $danger;
	color: $white;
	border-color: $danger;
	&:visited {
		color: $white;
	}
	&:hover {
		background-color: $white;
		color: $danger;
	}
}
.btn-info {
	background-color: $info;
	color: $white;
	border-color: $info;
	&:visited {
		color: $white;
	}
	&:hover {
		background-color: $white;
		color: $info;
	}
}

// Well
// --------------------------------------------------
.well {
	padding: 20px;
	border: 1px solid $comp-color;
	@include rounded(4px);
}

// Hub
// --------------------------------------------------
section#hub {
	@include clearfix;
	margin-bottom: 15px;
	padding: 0;
	text-align: center;

	figure {
		color: black;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
		height: 6em;
		margin-left:2%;
		float: left;
		background-position: center;
		@include background-size(150%);
		@include transition(background-size 1s ease-out);
		@include rounded(5px);
		box-shadow: 0 0 0 0, 0 6px 12px rgba($base-color,0.1);

		&.third { width: 31%; }
		&.half { width: 47%; }

		figcaption {
			font-size: 16px;
			color:black;
			padding-top: 2.3em;
			margin: 0;
			@include rounded(3px);
			display: block;
			width: 100%;
			height: 100%;
			@include background-alpha($white,0.9);
			@include transition(opacity 800ms ease-out);
		}

		&:hover {
			@include background-size(100%);
			figcaption { opacity: 0; }
		}
	}
}

// History Lists
// --------------------------------------------------
ul.history-list {
	list-style-type: none;
	padding: 0;
	margin-top: .5em;
	@include clearfix();


	div { 
		border-top: 1px solid lightgray;
		@include clearfix(); 
	}

	img {
		float: left;
		margin: 5px 15px 0 0;
		width: 35%;
	}

	li {
		padding: 10px;
		overflow: auto;
		@include transition(background-color .4s ease-out);
		@include rounded(5px);
		padding-left: .5em;
		padding-right: 0;

		border-right: 3px solid lightgray;
		border-top: 1px solid lightgray;
		width: 48%;
		margin-right: 1%;
		margin-left: 1%;
		float: left;

		&.big {
			margin-left: 0;
			float: none;
			width: 100%;
			border-right: 3px solid lighten($base-color,30);
			border-top: 1px solid lighten($base-color,30);
		}

		&:hover { background-color: lightgray; }
	}

	h4 {
		padding-top: 0;
		margin-top: 0;
		margin-bottom: .2em;
	}

	p { 
		margin-top: .2em; 
		@include clearfix();
	}
}

div.history-year {
	h3 { margin: 1em 0 0 0; }
	p { margin: 0; }
}
